/* create a grid of divs with class square
grid-template-columns: repeat(16, 50px);
grid-template-rows: repeat(16, 50px);
above would be for the grid

each square should be part of a class and have it's own style */
.container {
    display: grid;
    /* grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16 50px); */
}

.center {
    margin: 0 auto;
    width: 50%;
}

.square {
    /* height: 50px;
    width: 50px; */
    background: black;
    border-style: solid;
}

.new-color {
    background-color: white;
}
